.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 10px; */
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1480px;
  height: 300px;
  background-color: white ;
  margin: 100px auto 0;
  word-break: break-all;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  border-radius: 10px;
}

.bloc-tabs {
  display: flex;
  
}
.tabs {
  
  padding: 20px;
  text-align: center;
  width: 10%;
 background-color: #E4E4E4;
  cursor: pointer;
  margin-left: 30px;

  border-right: 1px white;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
  border-top-right-radius: 10px;;
  border-top-left-radius: 10px;
  /* box-sizing: content-box; */
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid white;
}

.active-tabs  {
  background-color: #3972F3;
  color:white;
  /* border-bottom: 1px solid transparent; */
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  /* background: rgb(88, 147, 241); */
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}